[tool.poetry]
name = "py2puml"
version = "0.4.0"
description = "Generate Plantuml diagrams to document your python code"
keywords = ["class diagram", "PlantUML", "documentation"]
readme = "README.md"
repository = "https://github.com/lucsorel/py2puml"
authors = ["Luc Sorel-Giffo"]
maintainers = ["Luc Sorel-Giffo"]
license = "MIT"

[tool.poetry.scripts]
py2puml = 'py2puml.cli:run'

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "6.2.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
