name: Lint and test py2puml code

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MIN_CODE_COVERAGE_PERCENT: 93

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      # https://docs.astral.sh/uv/guides/integration/github/
      - name: Install uv
        uses: astral-sh/setup-uv@v5


      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Define a cache for the virtual environment based on the dependencies lock file
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: venv-${{ hashFiles('uv.lock') }}

      - name: Install project dependencies
        run: uv sync --no-default-groups

      - name: Run automated tests (with code coverage)
        run: uv run pytest -v --cov=py2puml --cov-branch --cov-report term-missing --cov-fail-under $MIN_CODE_COVERAGE_PERCENT
